body {
    font-family: 'Roboto', sans-serif;
}

#canvas {
    background-color: #000;
}

#theatre {
    margin-top: 1.4rem;
}

#playlist-header {
    padding: 1rem 5px 5px 5px;
    font-size: 1rem;
}

.playlist-image {
    max-height: 100px;
}

.playlist-image-holder {
    text-align: center;
}
